<h1 class="text-center">Welcome on board!!</h1>
<p>Sample registration with database connected</p>

<form action="/logout" method="GET">
    <button type="sumbit"  class="btn btn-danger my-4">logout</button>
</form>